<!--ユーザーのマイページ-->

<div class="container my-5">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <h3 class="font-weight-bold mb-5">マイページ</h3>
      <div>
        <%= link_to "編集する", customers_infomation_edit_path, class: "btn btn-success mb-3" %>
      </div>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="bg-light font-weight-bold">ユーザー名</td>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <td class="bg-light font-weight-bold">メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>