<div class="container my-5">

  <div class="row offset-3">
    <h3 class="border rounded shadow-sm font-weight-bold mb-5 text-center">マイページ</h3>
  </div>
  
  <div class="row offset-3 pl-3 mb-4">
    <h4>登録情報</h4>
    <%= link_to "編集する", customers_infomation_edit_path, class: "btn btn-success ml-5" %>
  </div>
  
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-lg-6">
      <table class="table table-bordered border-dark">
        <tbody>
          <tr>
            <td class="bg-secondary text-light">ユーザー名</td>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <td class="bg-secondary text-light">メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    
</div>