<!--管理者の会員詳細画面-->

<div class="container my-5">
  <div class="row">
    <div class="col-5 mx-auto">
      <h3 class="font-weight-bold mb-5">会員詳細</h3>

        <table class="table table-table-bordered">
          <tbody>
            <tr>
              <td class="bg-light font-weight-bold">会員ID</td>
              <td><%= @customer.id %></td>
            </tr>
            <tr>
              <td class="bg-light font-weight-bold">ユーザー名</td>
              <td><%= @customer.name %></td>
            </tr>
            <tr>
              <td class="bg-light font-weight-bold">メールアドレス</td>
              <td><%= @customer.email %></td>
            </tr>
            <tr>
              <td class="bg-light font-weight-bold">会員ステータス</td>
              <td>
                <% if @customer.is_deleted? %>
                  <span class="text-secondary">退会</span>
                <% else %>
                  <span class="text-success">有効</span>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="actions">
          <%= link_to "編集する", edit_admin_customer_path, class: "btn btn-success mt-3" %>
        </div>
    </div>
  </div>
</div>