<div class="container my-5">
  
  <div class="row">
    <h3 class="border rounded shadow-sm font-weight-bold px-3">レビュー一覧</h3>
  </div>
  
  <div class="row mt-5">
    <table class="table table-bordered border-dark">
      <thead>
        <tr class="bg-secondary text-light">
          <th>投稿日時</th>
          <th>ユーザー名</th>
          <th>評価</th>
        </tr>
      </thead>
      <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td><%= review.created_at %></td>
          <td><%= link_to review.customer.name, admin_review_path(customer.id) %></td>
          <td><%= review.rating %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="container">
    <div class="row">
     <div class="col-md-4 offset-md-4 py-2  mt-5">
      
     </div>
    </div>
  </div>
</div>