<div class="container my-5">

  <div class="row">
    <h3 class="font-weight-bold mb-3 ml-3">お気に入り登録一覧</h3>
  </div>

  <div class="row">
    <% @favorites.each do |favorite| %>
      <div class="col-lg-3 mt-5">
        <%= link_to space_path(favorite.space.id), class:"text-decoration-none" do %>
          <%= image_tag favorite.space.image[0].variant(resize: "300x300"), size: '250x200', class: "rounded" %>
        <% end %>
        <%= link_to favorite.space.name, space_path(favorite.space.id), class:"text-decoration-none font-weight-bold d-flex align-items-center justify-content-start mt-2" %>
      </div>
    <% end %>
  </div>
  
  <div class="row d-flex align-items-center justify-content-center">
    <div class="mt-5">
      <%= paginate @favorites %>
    </div>
  </div>
  
</div>