<section class="section mt-6">
  <div class="container my-5">
    
    <div class="row">
     <h3 class="border rounded shadow-sm font-weight-bold px-3">店舗詳細</h3>
    </div>
    
    <div class="columns is-centered">
      <div class="column is-5 mt-5">
        <div class="card mb-6">
          <header class="card-header">
            <p class="card-header-title">
              <%= @space.name %>
            </p>
          </header>
          <div class="card-content">
            <div class="content average-score">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: %">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
                点（<%= @space.reviews.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>
        <%= render 'public/reviews/form', review: @review, space: @space %>
      </div>
    </div>
  </div>
</section>
